/*.text-*{
	color: white;
}*/

.alertNew {
  position: relative;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alertNewColor{
	background-color: #888888;
	color: white;
}

footer{
	padding: 40px;
	width: 100%;
	background-color: #212529;
	color: white;
}

.newBadge{
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50%;
}

.customHeader{
	padding: 7%;
	text-align: center;
	background-color: #212529;
	color: white;
}